body{
    background-image: linear-gradient(to right, rgb(189, 186, 169, 0), rgb(192, 188, 171, 1));
}

.classDataForm{
    display: inline;
}
.classDataFormDiv{
    text-align: center;
    padding-top: 50px;
    display: inline;
}

.classActivatorDataSection{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 200px auto ;
    grid-template-areas:
    "header"
    "form"
    "table";
}



.backButtonDiv{
    grid-area: button;
}

.activatorClassDataHeaderDiv{
    grid-area: header;
    border-bottom: 20px solid #F7C331;
}

.activatorDataTableDiv{
    grid-area: table;
    border-top: solid #6B7A8F 20px;
}
.classDataHeader{
    text-align: center;
    font-size: 42px;
    margin-top: 0px;
    color: #f4976c;
}
