body{
    background-image: linear-gradient(to right, rgb(189, 186, 169, 0), rgb(189, 186, 169, 1));
}

.classDataFormDiv{
    text-align: center;
    padding-top: 50px;
}

.classActivatorDataSection{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25px 50px fr;
    grid-template-areas:
    "header"
    "button"
    "form"
    "table";
}

.backButtonDiv{
    grid-area: button;
}

.activatorClassDataHeaderDiv{
    grid-area: header;
}

.activatorDataTableDiv{
    height: fit-content;
}
.backButtonClassData{
    text-align: left;
    margin-top: 10px;
}

.passionImage{
    border-bottom: 15px #543739 solid;
}