.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 400px 3fr;
    grid-template-areas:
    "header template"
    "form form";
}

body{
    font-family: 'Lato';
}

.activatorHeader{
    grid-area: header;
    text-align: center;
    font-size: 36px;
    background-image: url("/images/lockers.png");
    
    
}

.randomQuestion{
    grid-area: template;
    color: #ed8a63;
    font-family: 'Old Standard TT';
    font-style: italic;
    font-size: 28px;
    font-weight: lighter;
    box-sizing: border-box;
    border: 20px solid #3a4660;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    
}

.questionAnswer{
    text-transform: capitalize;

}

.headerText{
   color: #ed8a63;;
   font-size: 36px;
}


.activatorForm{
    grid-area: form;
    margin-top: 25px;   
}

.backbuttonP{
    float:left;
    text-align: left;
}

.createActivatorFormDiv{
    text-align: center;
}

.createActivatorForm{
    display: inline-block;
}
/* 
.questionClass{
    margin: auto;
} */

