.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 50px 2fr;
    grid-template-areas:
    "header header"
    "button button"
    "form template"; 
}

.createActivatorButtonDiv{
    grid-area: button;
}



body{
    font-family: 'Lato';
}

.activatorHeader{
    grid-area: header;
    text-align: center;
    border-bottom: 20px solid #F7C331;
}


.randomQuestion{
    grid-area: template;
    color: #3a4660;
    font-size: 28px;
    font-weight: lighter;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    
}

.randomQuestionText{
    padding: 25px;
    /* font-family: 'Old Standard TT';
    font-style: italic; */
    margin: 0 auto;
    text-transform: capitalize;
}


.headerText{
   color: #3a4660;
   font-size: 42px;
  
}

.createActivatorHR{
    width: 75%;
    border-color: #6B7A8F;
}

.randomQuestionHeader{

}


.activatorForm{
    grid-area: form;
}

.backbuttonP{
    float:left;
    text-align: left;
    padding: 0;
}

.createActivatorFormDiv{
    text-align: center;
}

.createActivatorForm{
    display: inline-block;
}
/* 
.questionClass{
    margin: auto;
} */

