.wrapper {
    display: grid;
    grid-template-columns: 1fr 50px 1fr ;
    grid-template-rows: 75px 250px 1fr ;
    grid-template-areas:
    "header header header"
    "tree tree tree"
    "activator random classData";

}

body{
    font-family: 'Lato';
}

.childOne{
    grid-area: header;
    border-bottom: 20px solid #F7C331;
    text-align: center;
    font-size: 36px;
}

.logoutButtonWelcome{
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.quoteText {
    font-family: 'Old Standard TT';
    font-style: italic;
}

.childTwo{
    grid-area: tree;
    /* padding-top: 20px;
    background-image: url('/images/education_tree.jpg');
    background-repeat: no-repeat;
    background-position: center; */
    font-size: 36px;
    text-align: center;
    border-bottom: solid #6B7A8F 20px;

}

.childThree{
    grid-area: activator;
    padding-bottom: 20px;

    /* background-image: url('/images/lightbulbFormattedSmaller.png');
    background-repeat: no-repeat;
    background-position: center; */
}

 .activatorImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
} 

.dataImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.quoteImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    width:  600px
}

.quoteText{
   font-size: 26px;
}

.dateAndTime{
    font-size: 26px;
}

.childFour{
    grid-area: classData;

 
  
}

.childFive{
    grid-area: footer;

}