.wrapperRegistration{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
    "header header"
    "register register";
    gap: 20px;
    padding-bottom: 20px;
}


.registrationHeader{
    grid-area: header;
    text-align: center;
    color: #6B7A8F;
    font-size: 36px;
    border-bottom: 20px solid #F7C331;
}

.registrationBody{
    grid-area: register;
    margin: 0 auto;
}

.registrationForm{
    display: block;
}

.lessonPlan{
    grid-area: lessonPlan;
    text-align: center;
    margin: 0 auto;
}